body{
   
    background-color: rgb(182, 226, 226);
}
h1{
    color: rgb(207, 96, 235);

}

a{
    color: blueviolet;
}

hr{
    border-style: none;
    border-top-style:dotted ;
    width: 5%;
    border-width: 8px;
    border-color:rgb(207, 96, 235);
}

img{
    width: 200px;
    border-radius: 100%
    
}